.hidden {
    display: none;
}

* {
    box-sizing: border-box;
}

h1 {
    font-family: 'PixelOperator', sans-serif;
    font-style: bold;
    font-weight: 100;
}

body {
    padding-top: 100px;
    width: 950px;
    margin: auto;
    margin-top: 10px;
    font-family: 'PixelOperator', sans-serif;
    font-size: 17px;
}

/* ---------  THEMES --------- */
.standard {
    --buttonColor: rgb(224, 218, 249);
    --buttonHoverColor: rgb(147, 132, 214);
    --pageColor: aliceblue;
    background-image: url("./sprites/bg3.png");
    background-color: #faeccc;background-position: top center;
    background-attachment: scroll;
    background-repeat: repeat-x;
}

.sandandslash {
    --buttonColor: rgb(251, 156, 133);
    --buttonHoverColor: rgb(231, 85, 85);
    --pageColor: rgb(255, 244, 233);
    background-image: url('./sprites/sandandslash/SandAndSlashBackground.png');
    background-color: #c18446;
    background-position: top center;
    background-attachment: scroll;
    background-repeat: repeat-x;
}

.explobot {
    --buttonColor: rgb(221, 249, 218);
    --buttonHoverColor: rgb(135, 224, 115);
    --pageColor: rgb(240, 255, 243);
    background-image: url('./sprites/explobotBackground.png');
    background-color: #e4d2aa;
    background-position: top center;
    background-attachment: scroll;
    background-repeat: repeat-x;
}

.chillgang {
    --buttonColor: rgb(224, 218, 249);
    --buttonHoverColor: rgb(179, 171, 213);
    --pageColor: aliceblue;
    background-image: url('./sprites/gangchill-export.png');
    background-color: #0f0b0e;
    background-position: top center;
    background-attachment: scroll;
    background-repeat: repeat-x;
}

.dreamcatchers-dark {
    --buttonColor: rgb(245, 218, 249);
    --buttonHoverColor: rgb(205, 171, 213);
    --pageColor: rgb(255, 240, 255);
    background-color: #debef4;
    background-image: url('./sprites/dreamcatchers/ss2.png');
    background-position: top right;
    background-repeat: repeat-x;
    background-attachment: fixed;
}

.dreamcatchers-light {
    --buttonColor: rgb(224, 218, 249);
    --buttonHoverColor: rgb(179, 171, 213);
    --pageColor: aliceblue;
    background-color: #a8ebec;
    background-image: url('./sprites/dreamcatchers/ss1.png');
    background-position: top right;
    background-repeat: repeat-x;
    background-attachment: fixed;
}

/* ---------  /THEMES --------- */

/* --------- CALENDAR --------- */

.calendar-container {
    background-color: var(--buttonColor);
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, auto);
    gap: 2px;
    text-align: center;
    margin: 5px;
    padding-top: 5px;
}

.calendar-nav {
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: var(--pageColor);
}

.calendar-nav button {
    background-color: var(--buttonColor);
}
.calendar-nav button:hover {
    background-color: var(--buttonHoverColor);
}

.calendar-day {
    background-color: var(--pageColor);
}

.calendar-day.today {
    background-color: var(--buttonHoverColor);
    color: white;
}

/* --------- /CALENDAR --------- */

/* --------- TITLE --------- */

.title-container {
    display: inline-flex;
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-around;
}

.title-container img {
    height: 64px;
}

/* --------- /TITLE --------- */

footer {
    font-family: 'PixelOperator', sans-serif;
    font-size: 16px;
    width: 900px;
    margin: auto;
    display: flex;
    justify-content: center;
}

textarea {
    width: 100%;
}

#mePic{
    height: 300px; 
    width: auto;
    overflow:hidden;
}

#mePic::-webkit-scrollbar{
    display: none;
}
#platBg{
    position: absolute;
    right:12vw;
    top:2vh;
    height: 350px;
    z-index: -1;
}
#explobotBg{
    position: absolute;
    left:13vw;
    top:5vh;
    height: 175px;
    z-index: -2;
}
#bassBg{
    position: absolute;
    left:13vw;
    bottom: 5vh;
    height: 350px;
    z-index: -1;
}
#teacupsBg{
    position: absolute;
    right:6vw;
    bottom: 0vh;
    height: 200px;
    z-index: -1;
}


#guestbookText{
    position: absolute;
    top: 10px;
}
#guestbookContainer{
    position: relative;
    text-align: center;
}
#winamp-container {
    position: fixed;
    bottom: 10px;
    /* Distance from the top */
    right: 10px;
    /* Distance from the right */
    z-index: 1000;
    /* Keeps it above other content */
}

#linkme {
    margin-top: 10px;
}

#aboutMeSection {
    margin-top: 5px;
    overflow-y: scroll;
    
}

#aboutMeSection button{
    font-size: 24px;
}

#aboutMeSection::-webkit-scrollbar {
    display: none;
}

#aboutme {
    display: flex;
    align-items: felx-end;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

#portait {
    width: 35%;
    padding: 5px
}

#desc {
    display: flex;
    width: auto;
    text-align: right;
    padding-right: 5px;
    font-size: 25px;
    font-weight: bold;
}

#listening {
    margin-top: 10px;
    display: flex;
    padding: 5px;
    border: 1px solid black;
    align-items: center;
    justify-content: space-between;
}

#artistName {
    margin: auto;
    font-family: 'PixelOperator';
    font-size: large;
    text-align: right;
}

#trackName {
    padding-top: 5%;
    margin: auto;
    padding-bottom: 5%;
    font-family: 'PixelOperator';
    font-size: large;
    text-align: right;
}

#listening img {
    width: 30%;
    height: 30%;
    border: 2px solid black
}

#listeningStatus {
    font-weight: bold;
    border-bottom: 1px dotted black;
}

#app {
    position: fixed;
}

#clock {
    text-align: center;
}

#todos{
    height: 100%;
}

.dropShadow{
    filter: drop-shadow(-5px 5px rgba(0, 0, 0, 0.438))
}

.winamp-container {
    position: fixed;
}

.rightSided {
    text-align: right;
}

.title {
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px dotted black;
}

.uiButton {
    height: 100%;
    display: inline-flex;
    border: 6px solid;
    border-image-source: url("./sprites/ui-export.png");
    border-image-slice: 25 fill;
    border-image-repeat: round;
}

.tab-content {
    margin: auto;
    padding: 16px;
}
.tab-content {
    --backgroundSize: 16px;
    
    border: 1px solid black;
    background-image: url("./sprites/bg2.png");
    background-size: var(--backgroundSize);
    animation: movingBackground 5s linear infinite;
}

.navigation-tabs {
    display: grid;
}

.tab-link-nav {
    font-family: 'PixelOperator';
    font-size: large;
    flex: 1;
    text-align: center;
    background-color: var(--buttonColor);
    margin-bottom: 5px;
}

.tab-content-nav {
    margin: auto;
    padding: 5px;
    border: 1px solid black;
}

.navigation-tabs button {
    display: grid;
    height: auto;
    justify-items: stretch;
}

.tab-content-logs {
    margin: auto;
    padding: 5px;
    border: 1px solid black;
}

.tabs-content-container {
    width: 100%;
    height: auto;
    background-color: var(--pageColor);
}

.tabs-content-container-logs {
    width: 100%;
    background-color: var(--pageColor);
    overflow-y: scroll;
}

.tabs-content-container-logs::-webkit-scrollbar {
    display: none;
}

.tab-link {
    font-family: 'PixelOperator';
    font-size: large;
    flex: 1;
    text-align: center;
    background-color: var(--buttonColor);
}

.tab-link-logs {
    font-family: 'PixelOperator';
    font-size: large;
    flex: 1;
    text-align: center;
    background-color: var(--buttonColor);
}

.tabs {
    display: flex;
    align-items: felx-end;
    padding: 0;
    margin: 0;
    height: 40px;
    list-style: none;
    background-color: transparent;
    cursor: pointer;
    transition-duration: 0.35s;
}

.tab-link:hover {
    background-color: var(--buttonHoverColor);
}

.tab-link-logs:hover {
    background-color: var(--buttonHoverColor);
}

.tab-link-nav:hover {
    background-color: var(--buttonHoverColor);
}

.collapsible {
    background-color: transparent;
    font-family: "PixelOperator";
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
}

.grid-explobot {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 5px;
}

.grid-explobot img {
    width: 100%;
}

.collapsible:after {
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.collapsible:hover{
    background-color: var(--buttonColor);
}

.collapsible-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: transparent;
}

.box {
    border: 1px solid black;
    width: 100%;
    height: auto;
    padding: 5px;
    background-color: var(--pageColor);
    filter: drop-shadow(-1px 2px rgba(5, 2, 24, 0.309))
}

.display {
    width: 100%;
    height: auto;
}

.displayer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    gap: 5px;
}

.about-grid {
    display: grid;
    grid-template-columns: auto 250px;
    grid-template-rows: auto;
    gap: 5px;
}

.work-grid {
    display: grid;
    grid-template-columns: auto 250px;
    grid-template-rows: auto;
    gap: 5px;
}

.work {}

.navigation {}

.home-grid {
    display: grid;
    grid-template-columns: auto auto auto auto 250px;
    grid-template-rows: repeat(7, auto);
    gap: 16px;
}

.welcome {
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    height: 100%;
    width: 650px;
}

.snippet-gallery{
    display: flex;
    overflow-x: scroll;
    width: 100%;
    height: 150px;
}

.welcome .box{
}

.status {
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    height: auto;
}

.div6 {
    grid-column-start: 5;
    grid-row-start: 6;
}

.div7 {
    grid-column-start: 5;
    grid-row-start: 7;
}

.div9 {
    grid-column: span 4 / span 4;
    grid-column-start: 1;
    grid-row-start: 5;
    height: auto;
}

.div9 a {
    transition: filter 0.3s ease;
}

.div9 a:hover {
    filter: brightness(70%);
}

.lastPlayed {
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 4;
}

.neighbors {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 6;
    width: 315px;
}

.logs {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 6;
    width: 315px;
}


.photography-grid{
    display: grid;
    grid-template-columns: repeat(2,auto);
}
.photography-grid2{
    display: grid;
    grid-template-columns: repeat(5,auto);
}

.picture{
    padding: 10px;
    width: 100%;
}

@keyframes movingBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: var(--backgroundSize) var(--backgroundSize);
    }
}
@keyframes movingBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: var(--backgroundSize) var(--backgroundSize);
    }
}

@font-face {
    font-family: "PixelOperator";
    src: url('./fonts/PixelOperator.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PixelOperator";
    src: url('./fonts/PixelOperatorSC-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}