body {
  overflow: hidden;
  margin: 0 auto;
  background: linear-gradient(0deg, #face8d 50%, #9eb5ff 100%);
  font-family: 'Spartan', Arial, Helvetica, sans-serif;
  overflow:hidden;
}

@font-face {
  font-family: 'Spartan';
  src: url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
}

.pressStart{
  position: absolute;
  margin:0;
  top:75%;
  right:50%;
  transform:translate(50%)
}

@keyframes fade-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3333332d;
  color: #fff;
  padding: 10px 20px;
  position: fixed; /* This keeps the header fixed at the top */
  top: 0;
  left: 0;
  right: 0;
  z-index: 10; /* Ensure the header is above the Three.js content */
}
.header .left {
  width: 200px;
  font-size: 1.5em;
}
.header .center {
  flex-grow: 1;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.header .center a {
  color: #fff;
  text-decoration: none;
}
.header .right {
  display: flex;
  width: 200px;
  gap: 10px;
  margin-right: auto;
}
.header .right a {
  color: #fff;
  text-decoration: none;
}